*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #e4f1f0;
  font-family: serif;
}

nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  background-color: #004953;
}

#navbar{
  width: 100%;
  list-style: none;
  font-size: 25px;
  padding-left: 278px;
  padding-top: 13px;
}

.navbar_link{
  float: left;
}

#navbar a{
  text-decoration: none;
  color: white;
  padding-left: 30px;
  float: left;
}

.profil{
  text-align: right;
  float: right;
  padding-left: auto;
}

#content{
  width: 100%;
  height: 100%;
  display: flex;
}

.sidebar{
  width: 200px;
  height: 1020px;
  background-color: #003B43;
}

.steps{
  width: 100%;
  list-style: none;
  font-size: 25px;
  text-align: center;
  padding-top: 140px;
}

.steps a{
  margin: 0 auto;
  text-decoration: none;
  color: white;
}

.steps_link{
  padding: 16px;
}

.registry{
  width: 100%;
  height: 1020px;
  background-color: #E4F1F0;
  display: flex;
}

.month{
  height: 58px;
  padding-left: 129px;
}

.year{
  height: 58px;
  padding-left: 129px;
}

.campus{
  height: 58px;
  padding-left: 129px;
}

.drop_down{
  width: 150px;
  height: 30px;
  border: solid black;
}
